/* landis theme color: rgb(15,27,62) 
light: rgb(249, 250, 255)
 hsl(225, x%, x%) 
 light hsl(230, x%, x%) */

.App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 3rem;
  color: hsl(225, 50%, 35%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.Header {
  height: 6vh;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  padding: 2vh 2vw;
  background-color: hsl(230, 75%, 99%);
  box-shadow: 0 2px 7px 2px hsl(230, 55%, 80%);
}

.Footer {
  font-size: 16px;
  color: hsl(225, 30%, 30%);
  min-height: 16px;
  height: 3vh;
  padding: 3vh 2vw;
  background-color: hsl(230, 75%, 95%);
}

.body {
  flex: 1;
  padding: 5vh 8vw;
  background-color: hsl(230, 75%, 95%);
}

.Header img {
  height: 70%;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  color: hsl(225, 70%, 25%);
}

.activeLink {
  font-weight: 700;
  color: hsl(225, 75%, 45%);
}

.Card {
  width: 80%;
  min-width: 500px;
  word-wrap: break-word;
  background-color: hsl(230, 75%, 99%);
  box-shadow: 1px 3px 7px 2px hsl(230, 50%, 85%);
  margin: 4vh auto;
  display: flex;
  border-radius: 1%;
}

.Card img {
  height: 30vh;
  min-height: 160px;
  margin: 5vh;
  border-radius: 50%;
}

.userInfo {
  padding: 2vh 2vw;
  overflow: auto;
}

.userInfo p {
  color: hsl(230, 20%, 70%);
  font-size: 1.3rem;
}

.userInfoLabel {
  font-weight: 600;
}

h3,
p {
  margin: 0;
}

h2 {
  margin: 0 0 2vh 0;
}

h3 {
  color: rgba(16, 207, 118, 0.829);
}

#balance {
  color: rgba(25, 139, 86, 0.931);
}

.cardImageAndIndicator {
  display: flex;
  flex-direction: column;
}

.Indicator {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

hr {
  border-color: hsl(230, 20%, 70%);
}

.AnalysisCard {
  width: 100%;
  min-width: 500px;
  word-wrap: break-word;
  background-color: hsl(230, 75%, 99%);
  box-shadow: 1px 3px 7px 2px hsl(230, 50%, 85%);
  margin: 4vh auto;
  border-radius: 1%;
  padding: 2vh 0;
}
.AnalysisCard h2 {
  padding-left: 2vw;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-around;
}

td,
th {
  width: 100%;
  text-align: center;
}
