/* landis theme color: rgb(15,27,62) */

.App {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(225, 50%, 35%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.Header {
  height: 8vh;
  min-height: 30px;
}

.Header img {
  height: 90%;
}

.Footer {
  min-height: 16px;
  height: 3vh;
  padding: 0 2vw;
}

.body {
  flex: 1;
}

.Header,
.body {
  padding: 2vh 2vw;
}
